<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="home.css">

    <title>SneakPeekIntoLeak/Home</title>

</head>
<body>
   <nav class="navbar bg-dark navbar-dark">
        <div class="container">
            <a href="" class="navbar-brand">
                <img id="logo" src="static/img/logo.png"  alt="">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color:#5DADE2" >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="About.html" style="color:#5DADE2">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color:#5DADE2">Team</a>
                </li>
              </ul>
        </div>
    </nav>

   <section id="header" class="jumbotron text-center">
        <div>
            <img src="static/img/logo.png" alt="">
        </div>
        <div class="container">
            <p class="home_para">
                <em>How often do you see adult diapers at your area's medical store?</em>
                <br>
                Here's the catch- 20% of community dwelling older adults have enough incontinence to limit some aspect of their lives.
                On the other hand, an EMG test would give us a close-to-accurate representation of how the bladder is reacting under pelvic pressure parameters to help us predict whether the elderly is affected by incontinence.
                <br><br>
                <span>
                    So come, take a <span id="about_catchLine">'Sneak Peek Into Leak': An initiative to break the taboo of urinary incontinence!</span>
                </span>
            </p>
            <br>
        </div>
    </section>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text" style="color:teal">Incontinence Prevention</h1>
      <div class="row center">
        <h5 class="header col s12 light" style="color : teal">Predict If You WIll Have Incontenience
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label style="color: teal" for="Age"><b>Age</b></label>
            <br>
          <input placeholder="Enter Values bet 60-95 yrs" name="Age" id="age" type="text" class="validate">
        </div>

        <div class="input-field col s4">

          <label for="Gender" style="color : teal"><b>Gender</b></label>
            <br>
          <input list = "gender" id="gender" name="Gender" placeholder="For Male:1, Female:0"  type="text" class="validate"/>
        </div>




        <div class="input-field col s4">
            <label for="UCL" style="color: teal"><b>UCL</b></label>
            <br>
          <input id="_name" name="UCL" placeholder="Normal is between 40-50" type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name" style="color: teal"><b>MCV_peak</b></label>
            <br>
          <input id="_name" name="mcvP" placeholder="Around 97 is Healthy" type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="llp" style="color: teal"><b>Leak Point Pressure</b></label>
            <br>
          <input id="_llp" name="lpp" placeholder="Normal:70-80" type="text" class="validate">

        </div>

      </div>
        <br>

      <div class="row center"  style="display:flex; justify-content: center;">

          <button type="submit" class="btn-large waves-effect waves-light orange" style="color:teal">Predict</button>
      </div>
    </form>
      </div>

      <br>
        {{pred}}<br>

    </div>
  </div>


    <br><br>
  </div>
  </div>>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
